body{
    background-color: lightblue;
    font-family: Helvetica;
    font-size: 15px;
}

input[type=text]{
    /*width: 95%;*/
	width: 50vw;
    height: 25px;
    text-align: left;
    vertical-align: text-top;
    font-family: Arial;font-size: 16px;
    box-sizing: border-box;
}

.range{
    height: 75px;
}

.likert li {
    float: left;
    list-style-type: none;
}

#main{
    width: 75vw;
    max-width: 820px;
    border: 1px gray solid;
    margin: auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

#header{
    margin-top: 0;
    border: 2px solid black;
    padding: 20px;
    /*height: 75px;*/
	height: calc(200px - 5vw);
    background-image: url("logo.png");
	background-repeat: no-repeat;
    background-position: right top;
	background-size: 120vh;
	background-color: #00355f;
    color: black;
	padding-top: calc(100px - 10vw);
}

h1 {
    color: white;
    margin-right: 280px;
	margin-top: 10vh;
}

ul {
    width: 85%;
    display: inline-block;
    text-align: left;
}

label{
    display: block;
}


input{
    /*width: 30px;*/
	width: calc(170px - 10vw);
    margin-left: 20px;
}

input[type=submit]{
    width: 100px;
}

h2{
    clear: both;
    padding-top: 20px;
}

button{
    width: 100px;
    margin-top: 20px;
}